*{
  margin: 0; padding: 0; box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

header{
  width: 100%; height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)),url('image/taj1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  width: 100%; height: 15vh;
  background: rgba(0,0,0,0.2);
  color: white; display: flex; justify-content: space-between;
  align-items: center; text-transform: uppercase;
}

nav .logo{
  width: 25%; text-align: center;
}

nav .Menu{
  width: 40%;
  display: flex; justify-content: space-around;
}

nav .Menu a{
  width: 25%;
  text-decoration: none; color: white;
  font-weight: bold;
}

nav  .Menu a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00b894;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav .Menu a:hover::after{
  width: 70%;
}

main{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; color: white;
}

section h3{
  font-size: 35px; font-weight: 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1{
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p{
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a{
   display: inline-block;
   color: #fff;
   border: 1px solid #fff;
   padding: 12px 30px;
   border-radius: 4px;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 500;
   text-decoration: none;
   letter-spacing: 1px;
   background: transparent;
   cursor: pointer;
   transition: .3s ease;
}

section a:hover{
  border: 1px solid #00b894;
  background: #00b894;
}

.change_content:after{
  content: '';
  animation: changetext 10s infinite linear;
  color: #00b894;
}

@keyframes changetext{
  0% {content: "Udaipur";}
  20% {content: "Bhubaneswar";}
  40% {content: "Kodaikanal";}
  60% {content: "Darjeeling";}
  80% {content: "Khajjiar";}
  100% {content: "Aurangabad";}
}

.Courses{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.Courses h1{
  font-size: 36px;
  font-weight: 600;
}

.Courses h3{
  font-size: 30px;
  font-weight: 440;
}

.Courses p{
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  color: #fff;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.row h3{
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
}

.Courses-col{
  flex-basis: 31%;
  background: #00b894;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.Courses-col:hover{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.Campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.Campus h1{
  font-size: 36px;
  font-weight: 600;
}

.Campus p{
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row1{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.Campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.Campus-col img{
  width: 100%;
  display: block;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover{
  background: rgba(0, 0, 225, 0.3);
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

.Facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.Facilities h1{
  font-size: 36px;
  font-weight: 600;
}

.Facilities p{
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row2{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.Facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.Facilities-col img{
  width: 100%;
  border-radius: 10px;
}

.Facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.layer1 p{
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 0;
}

.Testimonials{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.row3{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.Testimonials-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.Testimonials-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.Testimonials-col p{
  padding: 0;
}

.Testimonials-col h3{
  margin-top: 15px;
  text-align: left;
}

.Testimonials-col .fa{
  color: #00b894;
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-
  gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(image/taj1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1{
  margin-bottom: 40px;
  padding: 0;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.socials .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa fa-heart-o{
  color: #f44336;
}
